/* contacts.page.scss */
.settings-icon {
  color: #666;
  font-size: 1.2rem;
}

.initial {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}