<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search contacts"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding center-content">
  <img src="assets/fav-illustration.png" class="illustration" />
  <h2>Call your favourite contacts<br />with just one tap</h2>
  <p class="add-link">Add a favourite</p>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>